<h1 class="text-center mt-4">Listing All Blogs </h1>

<div class="digg_pagination mt-4 mb-4">
    <%= will_paginate @articles, :container => false %>
</div>

<%= render 'article_card' %>

<div class="digg_pagination mt-4 mb-4">
    <%= will_paginate @articles, :container => false %>
</div>



