@import 'bootstrap/dist/css/bootstrap';

.navbar {
    background-color: #393939;
}

#logo {
    font-size: 1.7em;
    letter-spacing: -1px;
    color: #FF5A09;
}

.jumbotron {
    background-image: asset-url('blog5.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

.sign-up {
    background-color: #269ccc;
}


html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: #dcdcdc;
}

#sticky-footer {
  flex-shrink: none;
  background-color: #393939;
  color: #FF5A09;
}

.form {
  background-color: #FF5A09;
}

.card-title {
  color: #FF5A09;
  font-size: 1.5em;
}

// palination

.digg_pagination {
  display: flex;
  justify-content: center;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #FF5A09;
    color: white;
    border: 1px solid #FF5A09; }
  .digg_pagination a {
    text-decoration: none;
    color: #FF5A09;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #FF5A09;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden;
}


