<h1 class="mt-3 text-center">Edit category</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
        <%= render 'form' %>
    </div>
    <%= link_to '[ Cancel and return to category ]', category_path(@category), class: "text-dark mb-3" %>
  </div>
</div> 